footer
    border-top 1px solid $marrom
    .main
        display flex
        justify-content space-between
        padding $rem(40) 0
        nav a
            display block
            opensans 14 bold
            color $marrom
            text-transform uppercase
            + a
                margin-top .75em
            &:hover
                color $laranjaTexto
        .tipos
            margin 0 $rem(60)
            display grid
            grid-template-columns repeat(4, auto)
            grid-gap 10px 50px
            a
                opensans 12
                color $marrom
                &:hover
                    color $laranjaTexto
        .info
            color $marrom
            img
                width 100px
            p
                opensans 12
                margin 1em 0 2.5em
            .link-home
                display block
                padding-left 30px
                background $img('icone-home.png') no-repeat left center
                opensans 16 bold
                &:hover
                    color $laranjaTexto
            .link-catalogo
                display block
                opensans 12 bold
                margin 1em 0 0 0
                text-transform uppercase
                white-space nowrap
                &:hover
                    color $laranjaTexto
            .link-politica
                display block
                opensans 10
                margin 0.5em 0 1em 0
                text-transform uppercase
                white-space nowrap
                &:hover
                    color $laranjaTexto
    .copyright
        border-top 1px solid $marrom
        p
            text-align center
            opensans 9
            color $marrom
            a:hover
                color $laranjaTexto
    +below($tablet)
        .main
            .tipos
                display none
    +below(400px)
        .main
            flex-direction column
            .info
                margin-bottom $rem(45)
                order -1
        .copyright
            span
                font-size 0
                display block
