header
    width 100%
    height 115px
    border-top 2px solid $marrom
    &.header-home
        position absolute
        z-index 110
        top 0
        left 0
    .logo
        position relative
        z-index 103
    .center
        height 100%
        display flex
        align-items center
        z-index 2
    > .center
        position static
    .link-home
        width 18px
        height 14px
        background $img('ico-home.svg') no-repeat center
        margin 0 30px
        margin-left auto
        position relative
        z-index 103
    nav#nav-desktop
        display flex
        height 100%
        > a
        .dropdown-handle
            height 100%
            display flex
            align-items center
            opensans 14 bold
            color $marrom
            text-transform uppercase
            cursor pointer
            transition color .3s
            span
                position relative
                z-index 103
            + *
                margin-left 24px
            &:hover
            &.active
            &.open
                color $laranjaTexto
            &.active span:after
                content ''
                position absolute
                width 6px
                height 6px
                background $laranja
                bottom -15px
                left 50%
                margin-left -3px
                border-radius 50%
    .social
        margin 0 30px
        position relative
        z-index 103
    .lang
        margin-left 30px
        display flex
        align-items center
        z-index 103
    #mobile-toggle
        display block
        background-color transparent
        border 0
        position relative
        height 24px
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left 30px
        .lines
            display block
            width 100%
            height 4px
            background $marrom
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $marrom
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +above(1024px)
        #mobile-toggle
            display none
    +tablet()
        nav#nav-desktop
            margin-left auto
        .link-home
            display none
    +below(1024px)
        height 100px
        nav#nav-desktop
        .link-home
        .link-catalogo
            display none
        .social
            margin-left auto
        .lang
            margin-left 0
        .logo img
            width 150px
        .social
            position absolute
            right 5%
            margin 0
            top 20px
        .lang
            margin-left auto
            margin-top 20px
        #mobile-toggle
            margin-top 20px
            margin-left 20px

.dropdown-handle:hover .dropdown
    opacity 1
    visibility visible

.dropdown
    position absolute
    top 113px
    left 0
    opacity 0
    visibility hidden
    width 100%
    transition opacity .3s
    z-index 102
    background $cinzaBg
    padding $rem(10) 0 $rem(45)
    box-shadow 0 15px 10px rgba(#000, .05)
    +below(1024px)
        display none
    a
        display block
        opensans 15
        color $marrom
        text-transform none
        &:hover
        &.active
            color $laranjaTexto
        &.active
            font-weight bold
    .tipos
        padding-left 270px
        display grid
        grid-template-columns repeat(4, auto)
        grid-gap 50px
        +tablet()
            padding-left 100px
        a
            font-size $rem(14)
            + a
                margin-top 10px

#nav-mobile
    display none
    background $cinzaBg
    position absolute
    z-index 103
    box-shadow 0 15px 10px rgba(#000, .05)
    top 100px
    left 0
    width 100%
    padding $rem(15) 0 $rem(35)
    +above($tablet)
        display none !important
    .center
        text-align right
        > a
        .dropdown-mobile
            display block
            text-transform uppercase
            color $marrom
            montserrat 14 bold
            cursor pointer
            margin-bottom .7em
            &.active
            &.open
                color $laranjaTexto
        .link-catalogo
            margin 2em 0 0
            font-size .75em
    .dropdown-mobile-content
        display none
        text-align right
        margin-bottom 24px
        a
            display block
            opensans 14
            color $marrom
            + a
                margin-top .4em
            &.active
                color $laranjaTexto

.handle-busca
    cursor pointer
    position relative
    z-index 103
    img
        width 16px
        display block
    &:after
        content ''
        position absolute
        bottom -10px
        left calc('50% - 3px')
        width 6px
        height 6px
        border-radius 50%
        background $laranja
        opacity 0
        transition opacity .2s
    &.active:after
        opacity 1
    +below(1024px)
        position absolute
        top 20px
        right calc('5% + 87px')

#busca-header
    display none
    position absolute
    width 100%
    top 115px
    z-index 101
    padding $rem(65) 0 $rem(90)
    background $cinzaBg
    box-shadow 0 15px 10px rgba(#000, .05)
    form
        display flex
        align-items center
        justify-content center
        input[type=text]
            width $rem(300)
            display block
            background #F6F6F6
            border 0
            height 30px
            padding 0 10px
            padding-right 35px
            opensans 14
            color $marrom
            outline 0
            margin-left 35px
            margin-right 15px
        button
            width 22px
            height 22px
            background $img('icone-lupa.png') no-repeat center
            border none
            outline 0
            cursor pointer
            flex-shrink 0
    +below($tablet)
        padding $rem(25) 0
        form
            width 100%
            flex-wrap wrap
            justify-content flex-start
            .filtros
                width 100%
                margin-bottom 10px
            input[type=text]
                margin-left 0
                width auto
                min-width 0
                flex-shrink 1
    +mobile()
        top 100px

header.header-home
    .dropdown
    ~ #nav-mobile
    ~ #busca-header
        background rgba(#000, .75)
        &:before
            content ''
            position absolute
            bottom 100%
            left 0
            width 100%
            height 113px
            background rgba(#000, .75)
            z-index -2
    nav#nav-desktop
        .dropdown-handle
        > a
            color #fff
            &:hover
                color $laranjaTexto
    .dropdown a
        color #fff
        &:hover
            color $laranjaTexto
    #mobile-toggle
        .lines
        .lines:before
        .lines:after
            background #fff
        &.close .lines
            background transparent
    ~ #nav-mobile
        .center
            > a
            .dropdown-mobile
                color #fff
    ~ #busca-header
        .radio span
            color #fff
        form
            input[type=text]
                background rgba(#fff, .2)
                color #ffffff
                +placeholder()
                    color rgba(#fff, .5)
            button
                background-image $img('lupa-busca.svg')
                background-size 22px
    .link-home
        background-image $img('ico-home-light.svg')

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 999
    padding 30px
    +mobile()
        flex-direction column
        align-items center
        padding 20px
    .frase-cookies
        width 60%
        opensans 14
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +mobile()
            font-size 12px
            width 100%
            text-align center
    .aceitar-cookies
        width 20%
        height 40px
        opensans 14
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 10px
        cursor pointer
        outline none
        &:hover
        &:focus
            border 1px solid $texto
            background-color $laranja
            color $texto
        +mobile()
            width 100%
            font-size 12px
            text-align center
            margin-left 0
            margin-top 10px