html
    font-size 16px
    +tablet()
        font-size 15px
    +mobile()
        font-size 14px

body
    background $cinzaBg

a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5
