.banners
    width 100%
    height 100vh
    min-height 800px
    position relative
    .slide
        position absolute
        width 100%
        height 100%
        background-size cover
        background-position center
        &:after
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 250px
            background-image linear-gradient(0deg, transparent, rgba(#000, .65))
    +tablet()
        min-height 500px
    +mobile()
        min-height 350px

.home
    height 410px
    margin $rem(30) 0 $rem(65)
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-gap 6px
    .imagem
    .chamada
        display block
        background-position center
        background-size cover
    .imagem
        position relative
        span
            position absolute
            width 100%
            left 0
            bottom 0
            background rgba($marrom, .5)
            opensans 22
            color #ffffff
            padding .6em 1em
    .chamada
        position absolute
        width 100%
        height 100%
        .texto
            background rgba($marrom, .5)
            position absolute
            width 100%
            bottom 0
            padding 20px 120px 20px 30px
            span
                opensans 11
                color #fff
                display block
            p
                opensans 22
                color #fff
                margin .5em 0 0
    .cycle-pager
        position absolute
        bottom 18px
        right 18px
        display flex
        z-index 102
        span
            width 8px
            height 8px
            background $laranja
            border-radius 100%
            font-size 0
            cursor pointer
            + span
                margin-left 7px
            &.cycle-pager-active
                cursor default
                background #fff
    +tablet()
        height 320px
    +below(1140px)
        display block
        height auto
        margin-bottom $rem(30)
        .imagem
        .chamadas
            height 260px
            width 100%
        .chamadas
            margin 6px 0
        .cycle-pager
            display none
        .chamada .texto
            padding-right 20px
