.marcas
    margin $rem(50) auto
    +mobile()
        margin $rem(25) auto
    .marcas-header
        display flex
        align-items center
        justify-content space-between
        margin-bottom $rem(40)
        h1
            margin 0
            opensans 16 bold
            color $laranjaTexto
            text-transform uppercase
        +mobile()
            display block
            h1
                margin-bottom 1.5em
    .marcas-grid
        width 100%
        display grid
        grid-template-columns repeat(auto-fill, 240px)
        grid-gap 3px
        max-width calc('100vw - 50px')
        justify-content center
        +mobile()
            max-width 90%
            margin $rem(45) auto
        .marca
            width 240px
            height 150px
            background #fff
            display flex
            justify-content center
            align-items center
            img
                max-width 100%
                display block
