.politica-de-privacidade
    margin $rem(50) auto $rem(65)
    .titulo
        margin 0 0 20px 0
        opensans 24 bold
        line-height 1.8
        color $marrom
        text-transform uppercase
        +mobile()
            font-size 20px
            margin 0 0 15px 0
    .texto
        opensans 16
        color $marrom
        +mobile()
            font-size 14px
        > p 
            margin 0 0 20px 0
            +mobile()
                margin 0 0 15px 0
        > ul 
            list-style disc
            list-style-position outside
            margin 0 0 0 20px
            padding-left 0
            line-height 1.5
            +mobile()
                margin 0 0 0 15px
            li
                line-height 1.5
                margin 0 0 15px 0